{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>PROSTORE</title>
</head>

<body>
    <header>
        <div>

        </div>
        <ul>
            <li>
                <a href="">Работы</a>
            </li>
            <li>
                <a href="">Отзывы</a>
            </li>
            <li>
                <a href="">Офис</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>        
        </ul>
    </header>
    <footer>

    </footer>
</body>
</html>


